{% extends 'base.html' %}
{% load static %}
{% block head %}
	<title>Access Denied</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:700,900" rel="stylesheet">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="{% static 'css/error.css' %}" />

	
{% endblock %}

{% block error %}

<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>404</h1>
				<h2>Page can't be accessed</h2>
			</div>
			<a href="/en">Homepage</a>
		</div>
	</div>

{% endblock %}
